@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  max-width: 120rem;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #080808 0%,
    #060606 58.33%,
    #121212 77.78%,
    #080808 100%
  );
  padding: 1.875rem 4.3125rem;
  color: #fff;
}
ul {
  display: flex;
  gap: 2.875rem;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.3556rem;
}
.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .9375rem;
  border-bottom: .0625rem solid rgba(255, 255, 255, 0.2);
}

.cart {
  position: relative;
}
.cart .icon {
  width: .4938rem;
  height: .4938rem;
  background-color: #00ff8f;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.main-content {
  position: relative;
}

.main-content .content img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -7.75rem;
  margin: auto;
}

.main-content .content p {
  top: 1.5rem;
  left: 9.375rem;
  color: white;
  opacity: 0.6;
  position: absolute;
  max-width: 18.5967rem;
  text-align: right;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 1.25rem;
}

.main-content .content .bicycle-content {
  position: absolute;
  top: -42.1875rem;
  left: -55rem;
  width: 22.7006rem;
  height: 6.2731rem;
}
.footer {
  width: 100.0637rem;
  height: 15.2701rem;
  flex-shrink: 0;
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.5625rem);
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.0625rem 9.3444rem;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 18.25rem;
}
.footer-content .footer-content-text {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  font-size: 1.09rem;
  color: #fff;
}
.footer-content .footer-content-text .footer-text-title {
  font-weight: 600;
}

.footer-content .footer-content-text .footer-desc{
  opacity: .5;
}